<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443779840983-v1gucjbhfp4plg08n1t1v0fv76i065d0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443779840983-v1gucjbhfp4plg08n1t1v0fv76i065d0</string>
	<key>API_KEY</key>
	<string>AIzaSyCN3VDyTkaqWTq0xWjhvoEXRHCH0Sqabus</string>
	<key>GCM_SENDER_ID</key>
	<string>443779840983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juntu.geppettoinc</string>
	<key>PROJECT_ID</key>
	<string>juntu-test</string>
	<key>STORAGE_BUCKET</key>
	<string>juntu-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443779840983:ios:99716007fb68bdde5d2992</string>
	<key>DATABASE_URL</key>
	<string>https://juntu-test-default-rtdb.firebaseio.com</string>
</dict>
</plist>